:root {
  --white: #fff;
  --black: #1e293b;
  --crystal: #a8dadd;
  --columbia-blue: #cee9e4;
  --midnight-green: #01565b;
  --yellow: #e5f33d;
}

.timeline {
  position: relative;
  white-space: nowrap;
}

.timeline ol::-webkit-scrollbar {
  height: 4px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background: var(--midnight-green);
}

.timeline ol::-webkit-scrollbar-track {
  background: transparent;
}

.timeline ol {
  font-size: 0;
  padding: 300px 0;
  transition: all 1s;
  overflow-x: scroll;
  scrollbar-color: var(--midnight-green);
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 80vw;
  max-width: 400px;
  height: 5px;
  background: var(--white);
  scroll-snap-align: start;
}

.timeline ol li:first-child {
  margin-left: -380px;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--midnight-green);
  z-index: 1;
}

.timeline ol li div.item {
  position: relative;
  left: calc(100% + 7px);
  width: 500px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--whtie);
  background: transparent;
  border-radius: 0 10px 10px 10px;
  box-sizing: border-box;  
}


@media (max-width: 768px) {

  .timeline ol li:first-child {
    margin-left: -300px;
  }

  .timeline ol li {
    width: 90vw; /* Increase width on mobile */
  }
}

.timeline ol li div.item::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div.item {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(odd) div.item::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--white) transparent transparent transparent;
}

.timeline ol li:nth-child(even) div.item {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div.item::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--white);
}

.timeline time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--midnight-green);
}
